
<div class="row" id="about">
  <div class="large-12 columns"><h1>About</h1></div>
  <div class="large-12 columns intro">
    <p>
      There’s a lot of noise at Syracuse University. On a campus this large, it’s hard to stay on top of everything going on. Compas is here to point you in the right direction. As the university’s most thorough event repository, we make it easy to track all the various going-ons. From sports and concerts to lectures and info sessions, you’ll never miss another interesting event with Compas!
    </p>
  </div>
  <div class="row">
    <div class="large-4 columns about">
      <div class="image"><%= image_tag('/assets/jj.jpg')%></div>
      <h2>Connect.</h2>
      <p>
        Follow your favorite organizations. Search by event type. See what’s popular. We offer a variety of ways to sort through the clutter, making sure you find exactly what you’re looking for.
      </p>
    </div>
    <div class="large-4 columns about">
      <div class="image"><%= image_tag('/assets/pauly.jpg')%></div>
      <h2>Publicize.</h2>
      <p>
        Having trouble spreading the word about your upcoming launch party? Worried your efforts will go in vein? Don’t fret! Compas gives equal footing to organizations of all sorts and sizes, helping you reach a much wider audience than a few flyers in HBC will ever do.
      </p>
    </div>
    <div class="large-4 columns about">
      <div class="image"><%= image_tag('/assets/quad.jpg')%></div>
      <h2>Socialize.</h2>
      <p>
        Half the fun of attending an event is talking about it. You hype it to your friends beforehand and break it down afterwards. We serve as a forum for community engagement right within the event page. Share tips, make predictions, talk shit, have fun!
      </p>
    </div>
  </div>

</div>