<div class="row">
    <div class="large-6 columns">
        <strong>Add an admin:</strong><br>
        <%= render 'own' %>
    </div>
    <div class="large-6 columns">
        <strong>Remove an admin:</strong><br>
        <%= render 'unown' %>
    </div>
</div>
