<div class="row">
    <div class="large-6 columns">
        <p><strong>Add an admin:</strong></p>
        <p><%= render 'own' %></p>
    </div>
</div>
<div class="row">
  <%= link_to 'Show', @organization %> |
  <%= link_to 'Back', owners_organization_path(@organization) %>
</div>