<div class="row">
    <div class="large-6 columns">
        <strong>Add an admin:</strong><br>
        <%= render 'own' %>
    </div>
</div>
<div class="row">
  <%= link_to 'Show', @organization %> |
  <%= link_to 'Back', owners_organization_path(@organization) %>
</div>