<div class="row" id="edit_org">
  <h1>Editing organization admins</h1>

  <div class="row">
    <%= render 'own_form' %>
  </div>

  <%= link_to 'Show', @organization %> |
  <%= link_to 'Back', organizations_path %>
</div>
