<div class="row" id="edit_org">
<h1>Edit <% @organization %> Info | Admin: <%= current_user.first_name + ' ' + current_user.last_name %></h1>

<%= render 'form' %>

<%= link_to 'Show', @organization %> |
<%= link_to 'Back', organizations_path %>
</div>
